<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" crossorigin="anonymous"
	    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	    <script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	    </script>
    <title>TNN Company</title>
</head>
<body>
    <h1>Welcom to TNN Company</h1>
    <h2>Do not worry, your information is safe here</h2>

    <form action="/login" method="post"> 
        <label for="">Username</label><br>
        <input type="text" name="name"></input><br>
        <label for="">Password</label><br>
        <input type="password" name="password"></input><br>
        <button style="background-color: pink; color: white;" type ="submit">Login</button>
    </form>
</body>
</html>