{% extends "layout.html" %}
{% block title %}List {% endblock %}

{% block content %}
    <h1>Danh sach nhan vien</h1>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Full Name</th>
            <th scope="col">Pass</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Phong</th>
            <th scope="col">Chuc vu</th>
            <th scope="col">Chuyen nganh</th>
            <th scope="col">Luong</th>
            </tr>
        </thead>
        <tbody>
            {% if name=="admin" %}
                {% for row in users %}
                    <tr>
                        <td>{{ row.ID }}</th>
                        <td>{{ row.username }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.pass }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.phone }}</td>
                        <td>{{ row.phong }}</td>
                        <td>{{ row.chucvu }}</td>
                        <td>{{ row.chuyennganh }}</td>
                        <td>{{ row.luong }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    {% for item in user %}
                        <td>{{ item }}</th>
                    {% endfor %}
                </tr> 
            {% endif %}   
        </tbody>
    </table>
    <form action="/return" method="post" class="table"> 
        <button style="background-color: pink; color: white;" type ="submit">Return</button>
    </form>
{% endblock %}